@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

}

@layer base {
    * {
        border-color: var(--color-gray-300);
        ::selection {
            background-color: black;
            color: white;
        }
    }
}

@layer utilities {
    .container {
        @apply w-full max-w-[720px] sm:border-x mx-auto min-h-screen;
    }
}