@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

}

@layer base {
    * {
        border-color: var(--color-gray-300);
        ::selection {
            background-color: black;
            color: white;
        }
    }
}

@layer utilities {
    .container:not(:has(.no-container)) {
        @apply w-full max-w-180 sm:border-x mx-auto min-h-screen;
    }

    .container:has(.no-container) {
        max-width: none !important;
        @apply w-full mx-auto;
    }
}